<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static  'css/auth.css' %}"

    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
    <div class="container">
        <div class="navabr-header">
            <a class="navbar-brand" href="/">SANDANI EXAMS</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/java">java exams</a></li>
            <li><a href="/python">python exams</a></li>
            <li><a href="/aptitude">aptitude exams</a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup">signup</a></li>
            <li><a href="/accounts/login/">login</a></li>
            <li><a href="/accounts/logout">logout</a></li>
        </ul>
    </div>
</nav>
{%block body_block%}
{%endblock%}
</body>
</html>