<!DOCTYPE html>
{%extends  'authapp/base.html'%}
{%block body_block%}
<div class="jumbotron">
<div class="container">
<h1>welcome to sandani exams</h1>
    <h2>DO U KNOW RULES</h2>
    <h3>these are the rules</h3>
    <ul>
        <li>RULE:1:You should know basics of exams</li>
        <li>RULE:2:You habe to prepate and comer</li>
        <li>RULE:3:compulsary hall ticket mustad shoul</li>
        <li>RULE:4: ARE u Comfortable with that</li>
        <li>RULE:5:SO BRING UR ALL ACCESRIRIES DONT FORGET </li>
        <li>RULE:6:k i will bring alll </li>
    </ul>
</div>
</div>
{%endblock%}